#typing {
	font-size: 30px !important;
}


#typing span {
	margin: 0px 4px;
}

.right {
	color: green !important;
}

.wrong {
	color: red !important;
}

.current {
	background: #c4c4c4;
	padding: 5px;
	border-radius: 10px;
}